<!-- 
    File: appointment.ejs
    Author: Brock Hemsouvanh
    Date: 12/6/23
    File Description: This file provides the appointment page structure for the Pets-R-Us website.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&family=Nunito:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pets-R-Us</title>
</head>
<body>
<%- include('partials/header.ejs') %>

<!-- following section originally authored by Professor Richard Krasso. Source: https://github.com/buwebdev/web-340/blob/master/week-6/fms/views/fruit-create.ejs-->
<section class="container">
  <h1 class="center-text">Book an Appointment</h1>

  <div class="card center-div">
      <div class="card-title"><h3>Appointment Details</h3></div>
      <div class="card-content">
          <div class="form">
              <form action="/appointment" method="post">
                  <div class="form-field">
                      <label for="firstName">First Name</label><br />
                      <input class="input" type="text" name="firstName" id="firstName" required>
                  </div>

                  <div class="form-field">
                      <label for="lastName">Last Name</label><br />
                      <input class="input" type="text" name="lastName" id="lastName" required>
                  </div>

                  <div class="form-field">
                      <label for="email">Email</label><br />
                      <input class="input" type="email" name="email" id="email" required>
                  </div>

                  <div class="form-field">
                      <label for="service">Service</label><br />
                      <select class="input" name="service" id="service" required>
                          <% services.forEach(function(service) { %>
                              <option value="<%= service.text %>"><%= service.text %></option>
                          <% }) %>
                      </select>
                  </div>

                  <div class="form-field">
                    <label for="appointmentDate">Appointment Date</label><br />
                    <input class="input" type="date" name="date" id="date" required min="<%= new Date().toISOString().split('T')[0] %>">
                  </div>
                  
                  <div class="form-field">
                    <label for="appointmentTime">Appointment Time</label><br />
                    <input class="input" type="time" name="appointmentTime" id="appointmentTime" required>
                  </div>
                  

                  <div class="form-field">
                      <input type="submit" value="Book Appointment" class="btn btn-primary full-width">
                  </div>
              </form>
          </div>
      </div>
  </div>

</section>

<%- include('partials/footer.ejs') %>

</body>
</html>

